/* box sizing */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* tags */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1;
  background-color: #F2F2F2;
}

h2 {
  font-size: 2em;
  font-weight: 900;
}

/* classes */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.btn-orange {
  display: inline-block;
  position: relative;
  height: 48px;
  padding: 0 16px;
  line-height: 48px;
  color: #F2F2F2;
  font-weight: 900;
  background-color: #E37B3F;
  border: 1px solid #C96D38;
  border-radius: 4px;
}

.btn-orange:hover {
  background-color: #D6743C;
  cursor: pointer;
}

.btn-orange:active {
  top: 2px;
}

#app {
  height: inherit;
  width: inherit;
}

#app > div {
  float: left;
}

/*
 * sidebar
 */

#sidebar {
  height: inherit;
  width: 25%;
  background-color: #334D5C;
}

#sidebar .user {
  height: 96px;
  padding: 0 16px;
  border-bottom: 2px solid #C96D38;
  background-color: #E27A3F;
}

#sidebar .user .squiddy-logo {
  position: absolute;
  top: 24px;
  left: 16px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #334D5C;
}

#sidebar .user .info {
  padding: 32px 16px 32px 64px;
  overflow: hidden;
}

#sidebar .user .info div {
  line-height: 16px;
  color: #F2F2F2;
  text-transform: uppercase;
}

#sidebar .user .info .position {
  font-weight: 100;
}

#sidebar .user .info .email {
  font-weight: 900;
}

#sidebar .menu {
  color: #F2F2F2;
}

#sidebar .menu li {
  height: 48px;
  width: 100%;
  padding: 0 16px;
  line-height: 48px;
  font-weight: 900;
  text-transform: uppercase;
}

#sidebar .menu li:hover {
  color: #F2F2F2;
  background-color: #253742;
  cursor: pointer;
}

#main {
  width: 75%;
}

/*
 * dashboard
 */

#main .header {
  height: 96px;
  padding: 0 32px;
  line-height: 96px;
  text-transform: uppercase;
  background-color: #fcfcfc;
  border-bottom: 2px solid #e5e5e5;
}

#main .header h2 {
  float: left;
}

#main .header .btn-orange {
  float: right;
  margin-top: 24px;
}
